.main {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  background: url('assets/img/bg-image.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  max-height: -webkit-fill-available;
  &__content {
    margin: auto 0;
    // height: calc(100vh - 115px);
    @include media($smd) {
      margin: 0 0 auto 0;
      // max-height: calc(100vh - 107px);
      overflow-y: auto;
    }
    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__pager {
    width: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    @include media($smd) {
      display: none;
    }
    li {
      a {
        font-family: $font-second-regular;
        font-size: 20px;
        color: #fff;
        opacity: 0.6;
        transition: 0.2s;
        &:hover {
          opacity: 1;
        }
        &.active {
          font-size: 40px;
          opacity: 1;
        }
      }
    }
  }
  &__countries {
    display: flex;
    flex-direction: column;
    @include media($smd) {
      display: none;
    }
    li {
      margin: 5px 0;
      opacity: 0.5;
      transition: .2s;
      width: 23px;
      height: 23px;
      overflow: hidden;
      border-radius: 50%;
      &:hover {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
