.navigation {
  display: flex;
  align-items: center;
  @include media($smd) {
    flex-direction: column;
  }
  li {
    white-space: nowrap;
    @include media($smd) {
      width: 100%;
    }
    &:not(:last-of-type) {
      margin-right: 30px;
      @include media($laptop) {
        margin-right: 5px;
        @include media($smd) {
          margin-right: 0;
        }
      }
    }
    @include media($smd) {
      &:not(:last-child) {
        a {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
      }
      a {
        &.active {
          border: none !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
          background: rgba(255, 255, 255, 0.05) !important;
        }
      }
    }
    a {
      color: #fff;
      font-weight: 400;
      transition: 0.2s;
      padding: 5px 10px;
      border-radius: 3px;
      font-size: 15px;
      border: 2px solid transparent;
      &:hover {
        color: $cl-gold;
        background: rgba(255, 255, 255, 0.2);
      }
      @include media($smd) {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        padding: 15px 10px;
        width: 100%;
        &:hover {
          color: #fff;
          background: none;
        }
      }
      &.active {
        border: 2px solid #fff;
        color: #fff;
      }
    }
  }
}
